@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  This is a fix for a bug in safari mobile input[type='range']
  On safary mobile the range input was not draggable, only clickable
  when it is expanded to cover the parent element
 */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100vh;
  width: 5rem;
  background-color: transparent;
  box-shadow: none;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  height: 0;
  width: 0;
}
